@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    html {
        @apply dark:text-white dark:bg-slate-800 h-screen transition-all ease-in-out;
    }
  }